= field_set do
  .row
    .col-md-6= f.input :name
    .col-md-6= f.input :planned_at, wrapper: :horizontal_select_date
  .row
    .col-md-6= f.association :scenario
    .col-md-3
      = f.input :turn_duration, wrapper: :append do
        = f.input_field :turn_duration, class: 'form-control'
        %span.input-group-addon= :minutes.tl
    .col-md-3
      = f.input :turns_count, wrapper: :append do
        = f.input_field :turns_count, class: 'form-control'
        = f.input_field :turn_nature, as: :hidden
        %span.input-group-addon= f.object.turn_nature.text
  = f.input :description
