= field_set do
  .row
    .col-md-8= f.input :name
    .col-md-4= f.input :planned_at
  .row
    .col-md-6= f.association :scenario
    .col-md-3
      = f.input :turn_duration, wrapper: :append do
        = f.input_field :turn_duration, class: 'form-control'
        %span.input-group-addon= :minutes.tl
    .col-md-3
      = f.input :duration, wrapper: :append do
        = f.input_field :turns_count, class: 'form-control'
        = f.input_field :turn_nature, as: :hidden
        %span.input-group-addon= f.object.turn_nature.text
  = f.input :description
