.well
  %p= resource.description
  %p= resource.access_token
  %p
    :ruby
      organizers = resource.organizers.collect do |user|
        link_to(user.name, backend_user_path(user))
      end
    %span= h('Organisateurs : ') + organizers.to_sentence.html_safe

.btn-group.btn-toolbox
  = link_to(:edit.ta, edit_backend_game_path(resource), class: 'btn btn-default')
  = link_to('Partie', game_path(resource), class: 'btn btn-default')

%h2= Game.human_attribute_name(:turns)
%ol
  - @game.turns.order(:number).each do |turn|
    %li.game-turn
      = :x_minutes.tl(count: turn.duration)
      - if turn.started_at and turn.stopped_at
        = " (#{human_period(turn.started_at, turn.stopped_at)})".html_safe
      = link_to('Modifier', edit_backend_game_turn_path(turn))

%h2= Game.human_attribute_name(:participants)
.btn-group.btn-toolbox{role: 'group'}
  = link_to(:new_farm.tl, new_backend_participant_path(game_id: resource.id, nature: :farm), class: 'btn btn-default')
  = link_to(:new_actor.tl, new_backend_participant_path(game_id: resource.id, nature: :actor), class: 'btn btn-default')
= show_grid :participants
