.well
  %p= resource.description
  %p= resource.access_token
  %p
    :ruby
      organizers = resource.organizers.collect do |user|
        link_to(user.name, backend_user_path(user))
      end
    %span= h('Organisateurs : ') + organizers.to_sentence.html_safe

.btn-group.btn-toolbox
  = link_to(:edit.ta, edit_backend_game_path(resource), class: 'btn btn-default')
  = link_to('Partie', game_path(resource), class: 'btn btn-default')

%h2= Game.human_attribute_name(:turns)
%ol
  - @game.turns.order(:number).each do |turn|
    %li.game-turn= "du #{turn.started_at.l} au #{turn.stopped_at.l}"
    = link_to('Modifier', edit_backend_game_turn_path(turn), class: 'btn btn-default')

%h2= Game.human_attribute_name(:farms)
.btn-group.btn-toolbox{role: 'group'}
  = link_to(:new.ta, new_backend_farm_path(game_id: resource.id), class: 'btn btn-default')
= show_grid :farms

%h2= Game.human_attribute_name(:actors)
.btn-group.btn-toolbox{role: 'group'}
  = link_to(:new.ta, new_backend_actor_path(game_id: resource.id), class: 'btn btn-default')
= show_grid :actors
