- unless resource.description.blank?
  .well
    %p= resource.description
    - if resource.historic.file?
      = link_to(Scenario.human_attribute_name(:historic), resource.historic.url)

= link_to(:edit.ta, edit_backend_scenario_path(resource), class: 'btn btn-default')


%h2= Scenario.human_attribute_name(:broadcasts.tl)
.btn-group.btn-toolbox{role: 'group'}
  = link_to(:add.ta, new_backend_scenario_broadcast_path(scenario_id: resource.id), class: 'btn btn-default')

= show_grid :broadcasts

%h2= Scenario.human_attribute_name(:curves)

= show_grid :curves

%h2= ScenarioIssue.human_attribute_name(:issues)
.btn-group.btn-toolbox{role: 'group'}
  = link_to(:add.ta, new_backend_scenario_issue_path(scenario_id: resource.id), class: 'btn btn-default')

= show_grid :issues