%h1= resource.name

= link_to(t(".edit"), edit_backend_scenario_url(resource), class: "btn btn-default")


%h2= Scenario.human_attribute_name(:broadcasts)
.btn-group{role: "group"}
  = link_to(t(".add"), new_backend_scenario_broadcast_url(scenario_id: resource.id), class: "btn btn-default")

= show_grid :broadcasts

%h2= Scenario.human_attribute_name(:curves)

= show_grid :curves
