.container
  = participant_card(@participant, title: "Boutique #{@participant.name}")

  .row
    .col-md-6
      .catalog
        %h3 Catalogue des produits
        .items-list
          - @participant.catalog_items.each do |catalog_item|
            .items-item
              .row
                .col-md-8.catalog-item-title{title: catalog_item.variant_name}= catalog_item.variant_name
                .col-md-2.decimal.catalog-item-price= catalog_item.amount.l(currency: :EUR)
                .col-md-2.catalog-item-quantity
                  - quantity = 0
                  - if (item = @deal.items.find_by(variant: catalog_item.variant))
                    - quantity = item.quantity
                  .btn-group
                    = link_to({controller: :shops, action: :add, variant: catalog_item.variant}, method: :post, class: 'btn btn-xs btn-default') do
                      %i.glyphicon.glyphicon-plus
                    -# %span.btn.btn-default= quantity
                    = link_to({controller: :shops, action: :decrement, variant: catalog_item.variant}, method: :patch, class: 'btn btn-xs btn-default', disabled: quantity <= 0) do
                      %i.glyphicon.glyphicon-minus
    .col-md-6
      #cart= render 'cart', deal: @deal

