.container
  .row
    .col-md-4
    .col-md-4
      %h2= @contrat.title
  %br
  = "Contracteur: #{@contrat.contractor_name}"
  %br
  = "Variant: #{@contrat.variant}"
  %br
  = "Prix: #{@contrat.amount}"
  %br
  = "Description: #{@contrat.description}"
  %br
  =link_to('Accepter le contrat', {controller: :contracts, action: :new, id: params[:id]}, method: :post)
