%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to('Game of Farms', root_url, class: 'navbar-brand')
    .collapse.navbar-collapse
      - if current_user
        - if current_user.administrator?
          %ul.nav.navbar-nav
            - [:scenarios, :games, :users].each do |name|
              %li{class: controller_name =~ /^#{name.to_s.singularize}/ ? :active : nil}= link_to("actions.backend/#{name}.index".t, controller: "backend/#{name}".to_sym, action: :index)
        - else
          %ul.nav.navbar-nav

        %ul.nav.navbar-nav.navbar-right
          - if current_participation
            - if current_participant
              - if current_participant.is_a?(Farm)
                %li
                  = link_to("javascript: alert('Lien vers Ekylibre en cours de construction')") do
                    %i.glyphicon.glyphicon-transfer
              %li
                = link_to(participant_path(current_participant)) do
                  %i.glyphicon.glyphicon-home
            %li
              = link_to(game_path(current_participation.game)) do
                %i.glyphicon.glyphicon-th-large
          - if current_user
            %li.dropdown
              = link_to("#", class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"}) do
                %i.glyphicon.glyphicon-user
                - if current_participant
                  = current_participant.name
                %span.caret
              %ul.dropdown-menu
                - current_user.active_games.each do |game|
                  %li.dropdown-header= game.name
                  - game.participations.where(user_id: current_user.id).sort{|a,b| a.name <=> b.name }.each do |participation|
                    - classes = []
                    - classes << :disabled if current_participation == participation
                    %li{class: classes}= link_to(participation.name, participation_path(participation))
                  %li.divider{role: "separator"}
                %li= link_to('Se déconnecter', destroy_user_session_path, method: :delete)
