%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to('Game of Farms', root_url, class: 'navbar-brand')
    .collapse.navbar-collapse
      - if current_user
        - if current_user.administrator?
          %ul.nav.navbar-nav
            - [:scenarios, :games, :users].each do |name|
              %li{class: controller_name =~ /^#{name.to_s.singularize}/ ? :active : nil}= link_to("actions.backend/#{name}.index".t, controller: "backend/#{name}".to_sym, action: :index)
        - else
          %ul.nav.navbar-nav

        %ul.nav.navbar-nav.navbar-right
          - if current_participation
            - if current_participant
              %li
                = link_to("javascript: alert('En cours')") do
                  %i.glyphicon.glyphicon-transfer
              %li
                = link_to(participant_path(current_participant)) do
                  %i.glyphicon.glyphicon-grain
            %li
              = link_to(game_path(current_participation.game)) do
                %i.glyphicon.glyphicon-th-large
          %li.dropdown
            %a.dropdown-toggle
              Mon compte
              .caret
            %ul.dropdown-menu
              %li Action
              %li= link_to('Se déconnecter', destroy_user_session_path, method: :delete)
