.row
  .col-md-3
    = f.input :nature, label: "Nature de l'assurance", disabled: is_disabled, as: is_hidden
  .col-md-3
    = f.input :quantity_unit, label: 'Unité assuré', disabled: is_disabled, as: is_hidden
  .col-md-3
    = f.input :quantity_value, label: 'Quantité assuré', disabled: is_disabled, as: is_hidden
  .col-md-3
    = f.input :amount, label: "Prix de l'assurance", disabled: is_disabled, as: is_hidden

.row
  .col-md-3
    = f.input :unit_pretax_amount, label: 'Montant unitaire hors taxe', disabled: is_disabled, as: is_hidden
  .col-md-3
    = f.input :tax_percentage, label: 'Tax (%)', disabled: is_disabled, as: is_hidden
  .col-md-3
    = f.input :excess_amount, label: 'Franchise', disabled: is_disabled, as: is_hidden



