= participant_card(@participant, content: false)
= f.association :insurer, as: :hidden
= f.association :insured, as: :hidden
= render partial: 'base_form', locals: {is_disabled: @is_disabled, f: f, is_hidden: nil}

- if @is_disabled
  = render partial: 'base_form', locals: {is_disabled: false, f: f, is_hidden: 'hidden'}

= f.object.errors.inspect
