.participant-card
  = link_to(participant_logo(participant), participant_path(participant), class: 'participant-logo')
  .participant-details
    - if participant.present
      .participant-stand-number= participant.stand_number
    .participant-title
      = options[:title] || participant.name
    - if content
      = content
    - elsif !content.is_a?(FalseClass)
      .participant-labels
        %span.label.label-primary= participant.class.model_name.human
        - [:contractor, :subcontractor, :supplier, :customer, :lender, :borrower].each do |state|
          - if participant.send(state)
            %span.label.label-success= Participant.human_attribute_name(state)
      - if false # participant.present
        .participant-info= "#{participant.name} est présent à l'événement, vous pouvez le retrouver à l'emplacement : #{participant.stand_number}"
      - elsif current_participant and current_participant != participant

        -# Deals
        - if current_participant.customer and participant.supplier
          = link_to('Acheter', new_deal_path(supplier_id: participant.id, customer_id: current_participant.id), class: 'btn btn-default')
        - if current_participant.supplier and participant.customer
          = link_to('Vendre',  new_deal_path(supplier_id: current_participant.id, customer_id: participant.id), class: 'btn btn-default')

        -#-# Loans
        -#- if current_participant.lender and participant.borrower
        -#  = link_to('Prêter',    new_loan_path(lender_id: current_participant.id, borrower_id: participant.id), class: 'btn btn-default')
        -#- if current_participant.borrower and participant.lender
        -#  = link_to('Emprunter', new_loan_path(lender_id: participant.id, borrower_id: current_participant.id), class: 'btn btn-default')

        -#Insurance
        - if current_participant.insurer and participant.insured
          = link_to('Assurer',   new_insurance_path(insurer_id: current_participant.id, insured_id: participant.id), class: 'btn btn-default')
        - if current_participant.insured and participant.insurer
          = link_to("S'assurer", new_insurance_path(insurer_id: participant.id, insured_id: current_participant.id), class: 'btn btn-default')
      :ruby
        users = participant.participations.where.not(user_id: nil).order(:id).map do |participation|
          user = participation.user
          link_to(user.name, user_path(user.id))
        end
      .participant-members= h('Membres : ') + users.to_sentence.html_safe
