.participant-card
  = link_to(participant_logo(participant), participant_path(participant), class: "participant-logo")
  .participant-details
    - if participant.present
      .participant-stand-number= participant.stand_number
    .participant-title
      = options[:title] || participant.name
    - if content
      = content
    - elsif !content.is_a?(FalseClass)
      .participant-labels
        %span.label.label-primary= participant.class.model_name.human
        - [:contractor, :subcontractor, :supplier, :customer, :lender, :borrower].each do |state|
          - if participant.send(state)
            %span.label.label-success= Participant.human_attribute_name(state)
      - if participant.present
        .participant-info= "#{participant.name} est présent à l'événement, vous pouvez le retrouver à l'emplacement : #{participant.stand_number}"
      - elsif current_participant
        = link_to('Acheter', {controller: :shops, action: :show, id: participant.id}, class: "btn btn-default")
        = link_to('Emprunter', {controller: :loans, action: :new, lender_id: participant.id}, class: "btn btn-default")
      :ruby
        users = participant.participations.where.not(user_id: nil).order(:id).map do |participation|
          user = participation.user
          link_to(user.name, user_path(user.id))
        end
      .participant-members= h("Membres : ") + users.to_sentence.html_safe
