.container
  .row
    .col-md-4
      .logo
        = image_tag('http://placehold.it/350')
    .col-md-4
      %h1= @participant.name
  .row
    - if @participant.type == 'Actor'
      .col-md-4
        .btn.btn-default
          = link_to( 'Boutique', {controller: :shops, action: :show, id: @participant.id} )

  .saleBuyInterface
    %h3 Achats
    .cubeSalesBuy
      - @purchases.each do |purchase|
        .sale
          %h4= "#{purchase.supplier.name} - <i> #{purchase.updated_at.strftime('%d/%m/%Y')}</i>".html_safe
          - purchase.items.each do |item|
            = "- #{item.variant} - #{item.amount}€ <br/>".html_safe

  .saleBuyInterface
    %h3 Ventes
    .cubeSalesBuy
      - @sales.each do |sale|
        .sale
          %h4= "#{@sales.client.name} - <i> #{sale.updated_at.strftime('%d/%m/%Y')}</i>".html_safe
          - sale.items.each do |item|
            = "- #{item.variant} - #{item.amount}€ <br/>".html_safe

  - if @participant.is_a?(Farm)
    .saleBuyInterface
      %h3 Mes contrats
      .cubeSalesBuy
        - 2.times do
          .sale
            %h4 Achat 1
            %p
              test test test test test test
              %b 33€
    .saleBuyInterface
      %h3 Mes emprunts
      .cubeSalesBuy
        - 3.times do
          .sale
            %h4 Achat 1
            %p
              test test test test test test
              %b 33€



