.container

  = participant_card(@participant)

  - if current_participant
    .row
      = tabbox(:participant) do |t|
        - if (@participant.present? && current_participant.farm?) || (current_participation && current_participation.organizer?)
          = t.tab :contact do
            .jumbotron
              %h1 Sur place uniquement
              %p Rendez-vous directement sur son stand pour faire affaire avec lui. Seul lui pourra effectuer les opérations (ventes, achats, emprunts...) que vous souhaitez.
        - else
          -# Deals
          - if @participant.products.any? && current_participant != @participant && current_turn
            = t.tab :purchase do
              = render "purchase"
          - if current_participant.products.any? && current_participant != @participant && current_turn
            = t.tab :sell do
              = render "sell"
          -# Insurance
          - if current_participant.insurer && @participant.insured && current_turn
            = t.tab :insure do
              .col-md-8
                .catalog
                  = link_to('Assurer la ferme',new_insurance_path(insurer_id: current_participant.id,
                            insured_id: @participant.id, redirect: request.fullpath), class: 'btn btn-default')
          - elsif current_participant.insured && @participant.insurer && current_turn
            = t.tab :insure_yourself do
              .col-md-8
                .catalog
                  = link_to("S'assurer", new_insurance_path(insurer_id: @participant.id,
                            insured_id: current_participant.id, redirect: request.fullpath), class: 'btn btn-default')
          -# Loans
          - if current_participant.lender && @participant.borrower && current_turn
            = t.tab :lend do
              .col-md-8
                .catalog
                  = link_to('Prêter', new_loan_path(lender_id: current_participant.id, borrower_id: @participant.id, redirect: request.fullpath),
                             class: 'btn btn-default')
          - elsif current_participant.borrower && @participant.lender && current_turn
            = t.tab :borrow do
              .col-md-8
                .catalog
                  = link_to('Emprunter', new_loan_path(lender_id: @participant.id, borrower_id: current_participant.id, redirect: request.fullpath), class: 'btn btn-default')

          -# Contracts
          - if current_participant.contractor && @participant.subcontractor && current_turn
            = t.tab :missionate do
              .col-md-8
                .catalog
                  = link_to('Missionner', new_contract_path(contractor_id: current_participant.id, subcontractor_id: @participant.id, redirect: request.fullpath),
                             class: 'btn btn-default')
          - elsif current_participant.subcontractor && @participant.contractor && current_turn
            = t.tab :operate do
              .col-md-8
                .catalog
                  = link_to('Traiter', new_contract_path(contractor_id: @participant.id, subcontractor_id: current_participant.id, redirect: request.fullpath), class: 'btn btn-default')

        = t.tab :transactions do
          = items_block(current_participant, :purchases, relative_to: @participant, as: :supplier)
          = items_block(current_participant, :sales,     relative_to: @participant, as: :customer)
          = items_block(current_participant, :contractings,    relative_to: @participant, as: :contractor)
          = items_block(current_participant, :subcontractings, relative_to: @participant, as: :subcontractor)
          = items_block(current_participant, :lendings,   relative_to: @participant, as: :borrower)
          = items_block(current_participant, :borrowings, relative_to: @participant, as: :lender)

