.container
  %h1= @contract_nature.name

  .contract-nature
    .title= @contract_nature.name
    .contractor= "Contracteur : #{@contract_nature.contractor_name}"
    .product-nature= "Variant : #{@contract_nature.variant}"
    .amount= "Prix : #{@contract_nature.amount}"
    .description= "Description: #{@contract_nature.description}"
    .signature= link_to('Accepter le contrat', {controller: :contracts, action: :new, id: params[:id]}, method: :post)
