.btn-group.btn-toolbox
  = link_to(:edit.ta, edit_backend_scenario_broadcast_path(resource), class: 'btn btn-default')

.panel.panel-default
  .panel-body
    %dl
      - unless resource.content.blank?
        %dt= resource_model.human_attribute_name(:content)
        %dd= resource.content
      %dt= resource_model.human_attribute_name(:scenario)
      %dd= link_to(resource.scenario.name, backend_scenario_path(resource.scenario))
