#world.container
  .row
    .col-md-5
    .col-md-5
      %h1 Ma ferme
  .btn.btn-default
    %h4= link_to('Vers ma ferme', {controller: :farms, action: :show, id: @participant.id})
  .row
    .col-md-5
    .col-md-5
      %h1 Le monde

  %h2 Liste des acteurs
  - @actors.each do |actor|
    .cube
      .flip
        = image_tag('ca.jpg')
      .flop
        %h3= actor.name
        - if actor.present
          %h4 Emplacement :
          - actor.stand_number
          //todo enlever le lien quand il y a aura présence
          = link_to('Voir les contrats', {controller: :actors, action: :show, id: actor.id} )
        - else
          = link_to('Voir les contrats', {controller: :actors, action: :show, id: actor.id} )

  = render 'curve'
