#mapcontainer
  #map
    = inline_svg "base-map-gof.svg"
    :coffee
      initializeMap #{current_participant.to_json}, #{@game.to_json}, #{@game.turns.to_json}, #{@game.participants.order(:name).select{|p|current_participation.can_see?(p)}.to_json}
