- game = participation.game
.count-down{class: (game.started? ? 'running' : 'not-running')}
  - if game.running?
    - if game.current_turn.nil?
      - Time.now > game.last_turn.stopped_at ? turn_info = 'Partie terminée' : turn_info = 'La partie est en pause'
    - else
      - turn_info = " Fin du tour(#{game.current_turn.number}/#{game.turns_count}) : #{distance_of_time_in_words_to_now(game.current_turn.stopped_at)}"
    = turn_info
  - else
    = "Pas encore lancée (dans #{distance_of_time_in_words_to_now(game.planned_at)})"
%h4.list-group-item-heading
  = game.name
  = ' &mdash; '.html_safe
  %span.glyphicon{class: "glyphicon-#{participation.organizer? ? :king : participation.participant.is_a?(Farm) ? :grain : :briefcase}"}
  = participation.name
