- if game.running? && game.current_turn
  :ruby
    total_duration = game.total_duration
    value = 100.0 * game.elapsed_duration / game.total_duration
    value = 100.0 if value > 100.0
  %span.turns-gauge
    - duration = 0
    - game.turns.find_each do |turn|
      - if turn.number > 1
        %span.bearing{style: "left: #{(100.0 * duration/total_duration).round(4)}%", class: (turn.future? ? "future" : turn.current? ? "active" : "past")}
      %span.interval{style: "left: #{(100.0 * duration/total_duration).round(4)}%; width: #{(100.0 * 60 * turn.duration/total_duration).round(4)}%", class: (turn.future? ? "future" : turn.current? ? "active" : "past"), title: turn.name + " (#{:x_minutes.tl(count: turn.duration)})", data: {toggle: "tooltip", placement: "bottom"}}
      - duration += turn.duration * 60
      - break if duration >= total_duration
    %span.level{style: "width: #{value.round(4)}%"}
