.container

  #logo

  - if @games.any? or current_user.can_organize?
    #my-games
      - @games.each do |game|
        .items-block
          .countdown.simple-countdown.label.label-info{class: game.state}
            - if game.running?
              - if game.current_turn.nil?
                - turn_info = (Time.now > game.last_turn.stopped_at ? 'Partie terminée' : 'La partie est en pause')
              - else
                - turn_info = h('Fin du tour (') + content_tag(:span, game.current_turn.number, {data:{number_turn: game.current_turn.number}, class: 'turn-number'}) + '/' + content_tag(:span, game.turns_count, {data:{all_turns: game.turns_count}, class:'turns-count'}) + ')&nbsp;: '.html_safe + content_tag(:span, nil, data: {countdown: game.current_turn.stopped_at.utc.l(format: '%Y-%m-%dT%H:%M:%S'), countdown_restart: current_turn_game_path(game) })
              = turn_info
            - else
              = game.state.text
          %h3= game.name
          .items-list
            - game.participations.where(user_id: current_user.id).each do |participation|
              - if game.running? or participation.organizer?
                = link_to(participation_path(participation), class: 'items-item') do
                  = render 'participation', participation: participation
              - else
                .items-item.disabled
                  = render 'participation', participation: participation
    - if current_user.can_organize?
      #new-game.items-block
        .items-list
          = link_to(new_backend_game_path, class: 'items-item list-group-item-info') do
            %span Nouvelle partie
  - else
    .help-block
      .help-content Aucune partie en cours ou en attente

