%br/
%br/


#carousel.carousel.slide{'data-ride' => 'carousel'}
  .row
    .col-xs-offset-2.col-xs-8
      .carousel-inner
        -@news.each do |new|

          -if new.release_turn == @currentTurn
            .item.active
              .carousel-content
                %div
                  %h4= truncate(new.name, length: 70)
                  %p.ellipsis=  new.content
          -else
            .item
              .carousel-content
                %div
                  %h4= new.name
                  %p.ellipsis=  new.content



  %a#withoutBackground.left.carousel-control{'data-slide' => 'prev', :href => '#carousel'}
    %span.glyphicon.glyphicon-chevron-left

  %a#withoutBackground.right.carousel-control{'data-slide' => 'next', :href => '#carousel'}
    %span.glyphicon.glyphicon-chevron-right


.container
  .row
    .col-md-5
    .col-md-5
      %h1 Le monde

  %h1 Liste des acteurs   :

  -@actors.each do |actor|
    .cube
      .flip
        = image_tag('ca.jpg')
      .flop
        %h3= actor.name
        -if actor.isPresence?
          %h4 Emplacement:
          -actor.locationEvent
        -else
          =link_to('Voir les contrats',   )


  %h1 Les courbes   :
  -@curves.each do |curve|
    .curve
      %h2= curve.name

      :ruby
        serie = {name: curve.name, data: curve.steps.where('turn <= ?', 28).order(:turn).map{|s| [s.turn , s.amount.to_f]}}

        if curve.interpolation_method_previous?
          serie[:step] = 'left'
        elsif curve.interpolation_method_following?
          serie[:step] = 'right'
        end


      = line_chart([serie],chart: {height: 150}, y_axis: {title: {text: "#{:value.tl} (#{curve.unit_name})"}})




