- if deal and deal.items.any?
  .cart
    %h3= :cart.tl
    .cart-content
      = render "deals/items", deal: deal
      = link_to('Valider la commande', {controller: :deals, id: deal.id, action: :checkout}, method: :post, class: 'btn btn-primary btn-block')
- else
  .help-block
    .help-content Cliquez sur les produits désirés pour les ajouter au panier.

= items_block(current_participant, :purchases, relative_to: supplier, as: :supplier, wrap: {})
= items_block(current_participant, :sales,     relative_to: supplier, as: :customer, wrap: {})
