= participant_card(@participant, content: false)
.row
  .col-md-3
    = f.input :turns_count, label: 'Nombres de tours'
  .col-md-3
    = f.input :amount, label: "Montant de l'emprunt"
    = f.association :lender, as: :hidden
    - if @current_participant == @participant
      = f.association :borrower, label: 'Emprunteur'
      = f.input :interest_percentage, label: "Pourcentage de l'intéret"
      = f.input :insurance_percentage, label: "Pourcentage de l'assurance"
    - else
      = f.association :borrower, as: :hidden
