= participant_card(@loan.lender, content: false)
- if current_participant == @loan.lender
  .row
    .col-md-6= f.association :borrower
    .col-md-3= f.input :interest_percentage
    .col-md-3= f.input :insurance_percentage
- else
  = f.association :borrower, as: :hidden
= f.association :lender, as: :hidden
.row
  .col-md-3
    = f.input :turns_count
  .col-md-3
    = f.input :amount
