.btn-group.btn-toolbox
  = link_to(:edit.ta, edit_backend_scenario_curve_path(resource), class: "btn btn-default")

.panel.panel-default
  .panel-body
    %dl
      - unless resource.description.blank?
        %dt= resource_model.human_attribute_name(:description)
        %dd= resource.description
      %dt= resource_model.human_attribute_name(:scenario)
      %dd= link_to(resource.scenario.name, backend_scenario_path(resource.scenario))

:ruby
  serie = {name: resource.name, data: resource.steps.map{|s| [s.turn, s.amount.to_f]}}
  if resource.interpolation_method_previous?
    serie[:step] = "left"
  elsif resource.interpolation_method_following?
    serie[:step] = "right"
  end

= line_chart([serie], y_axis: {title: {text: "#{:value.tl} (#{resource.unit_name})"}})
