!!!
%html
  %head
    %title= 'Game of Farms'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.game
    - if current_user
      = render 'navbar'
    = yield
